.cat-collage {
  background-image: url("images/cat-collage.jpg");
}

.black-hole {
  background-image: url("images/black-hole.jpg");
  background-size: 100%;
}

.gallery-bgv {
  background-image: url("images/gallery-bgv.jpg");
  background-size: 100%;
}

body {
  height: 100%;
  text-align: center;
  font-family: trattatello, didot;
  font-weight: bold;
}

h1 span {
  font-size: 50px;
  color: slategray;
  background-color: black;
  margin: 15px;
  padding: 5px;
}

h2 span {
  color: slategray;
  background-color: black;
  margin: 15px;
  padding: 5px;
}

p {
  width: 33%;
  margin: 0 auto;
  padding: 15px;
}

.white-text {
  color: #fff3dd;
  background-color: black;
  margin: 15px;
  padding: 5px;
}

.text-width {
  font-size: 100%;
}

.photo-grid {
  display: grid;
  grid-gap: 10px;
  align-items:center;
  justify-content:center;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
}

.photo-grid > div {
  padding: 10px;
  display: grid;
  place-items: center;
}
  
a:link {
  color: #bbd0ff;
  background-color: black;
  margin: 15px;
  padding: 5px;
}

a:visited {
  color: #bbd0ff;
}

a:hover {
  color: slategray;
}

a:active {
  color: #fff3dd;
}

.centering {
  text-align: center;
}